html, body {
 margin: 0;
 padding: 0;
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
}
#activityTitle{
 text-align:center;
 font-size:38px;
 font-family:Arial;
 margin-top:50px;
}

#score{
 text-align:center;
 font-size:20px;
}

#cardArea{
 width:400px;
 height:200px;
 margin:auto;
 margin-top:80px;
 border:3px solid #ABB7B7;
 border-radius:5px;
 position:relative;
 overflow:hidden;
}
.card{
 height:200px;
 position:absolute;
 text-align:center;
 font-size:45px;
 color:#000000;
 font-family:Arial;
 cursor:pointer;
}

#card2{
    line-height:94px;
    font-size:45px;
}

#card1{
    line-height:200px;
    font-size:90px;
}

.btnFlash{
 width:95px;
 text-align:center;
 font-size:20px;
 padding:10px;
 cursor:pointer;
 color:#efefef;
 margin:auto;
 margin-top:30px;
 
 
 border-radius:5px;
 font-family:Arial;
}
.btnFlash:hover{
 opacity:.6;
}
#finalMessage{
 text-align:center;
 font-size:30px;
 margin-top:30px;
 font-family:Arial;
}

#remember{
    background-color:#019875;
    border: 2px solid #1E824C;
}

#notYet{
    background-color:brown;
    border: 2px solid brown;
}