html, body {
            height: 100%;
}

#green {
    background: #80539c;
    text-align: center;
    color: black;
    padding-left: 0px;
    padding-right: 0px;
}

textarea {
    width: 100%;
    max-width: 100%;
}

#amount {
    width: 200px;
}

.form-box {
    background-color: #5A2A82;
    border-radius: 25px;
}

.form-label {
    font-weight: bold;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5A2A82;
    text-align: center;
}

.navbar {
    background-color: #5A2A82;
}

.dropdown-container {
    display: block;
    background-color: #cfc9ed;
    padding-left: 8px;
}

.dropdown-toggle {
    background-color: #c5afcf;
    color: black;
}

#nameApp {
    color: white;
}

.active {
    background-color: #4935a0 !important;
    color: white !important;
}

#green a, .dropdown-btn {
    padding: 6px 0px 6px 0px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none !important;
    color: black;
    border: grey;
}

#green a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

textarea {
    color: black !important;
}

#analyseButton {
    background-color: #4935a0;
    color:white;
}

.footer {
    color:white;
}

.dd-container {
    max-width: 100%;
}